dashboard_flow.json
[{"id":"c80ebb5e.294f08","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"1330b995.eb0626","type":"ui_text_input","z":"c80ebb5e.294f08","name":"","label":"IP","tooltip":"","group":"1b214600.17935a","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"100","topic":"","topicType":"str","x":230,"y":160,"wires":[["40b6bbe9.ae42b4"]]},{"id":"cc26e2d4.ffd35","type":"function","z":"c80ebb5e.294f08","name":"config_template","func":"IP = global.get(\"IP\")\nPORT = global.get(\"PORT\") \nrtype = global.get(\"rtype\") \nraddr = global.get(\"raddr\") \nvalue = global.get(\"value\") \nchannel = rtype + raddr\n\nvar read_command\nvar write_command\n\nif(rtype === \"M\") {\n    read_command = \"read-bit\"\n    write_command = \"write-bit\"\n}\nelse if(rtype === \"D\") {\n    read_command = \"read-word\"\n    write_command = \"write-word\"\n}\n\nreturn {\n    payload: {\n        channels: [\n            {\n                channelId: channel,\n                channelName: \"\",\n                category: [\n                    \"data\"\n                ],\n                raw: {\n                    registerType: rtype,\n                    address: raddr,\n                    quantity: 1\n                },\n                conversion: {\n                    asType: \"int16\"\n                }\n            }\n            ],\n        commands: [\n        {\n          \"command\": read_command,\n          \"registerType\": rtype,\n          \"address\": raddr,\n          \"quantity\": 1\n        }\n        ],\n        controlSets: [\n            {   \n            channels: [\n                {\n                    channelId: \"M16\",\n                    raw: {\n                        \"address\": raddr,\n                        \"quantity\": 1,\n                        \"registerType\": rtype\n                    },\n                    \"reverseConversion\": {\n                        \"asType\": \"uint16\"\n                    }\n                },\n                ],\n            commands: [\n                {\n                    \"address\": raddr,\n                    \"command\": write_command,\n                    \"quantity\": 1,\n                    \"registerType\": rtype\n                }\n                ]\n            }       \n        ],\n        templateId: 'coco'\n    },\n    IP: IP,\n    PORT: PORT,\n    channel: channel,\n    value: value\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":320,"wires":[["a0241251.a9cc4","2f2aec00.4e42a4"]]},{"id":"2ffeee02.29d762","type":"change","z":"c80ebb5e.294f08","name":"","rules":[{"t":"set","p":"textInput","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["fe2d6e02.ad949"]]},{"id":"fe2d6e02.ad949","type":"switch","z":"c80ebb5e.294f08","name":"is text empty?","property":"textInput","propertyType":"flow","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":200,"wires":[["db2479e4.104468"],["fa23a260.4e161"]]},{"id":"db2479e4.104468","type":"change","z":"c80ebb5e.294f08","name":"enabled false","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["eb06ed9d.7f23f"]]},{"id":"fa23a260.4e161","type":"change","z":"c80ebb5e.294f08","name":"enabled true","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":220,"wires":[["eb06ed9d.7f23f"]]},{"id":"eb06ed9d.7f23f","type":"link out","z":"c80ebb5e.294f08","name":"","links":["58d47e08.81ffc"],"x":1135,"y":200,"wires":[]},{"id":"58d47e08.81ffc","type":"link in","z":"c80ebb5e.294f08","name":"","links":["eb06ed9d.7f23f"],"x":715,"y":320,"wires":[["12c079b7.90c4a6"]]},{"id":"93b54b1c.311778","type":"inject","z":"c80ebb5e.294f08","name":"Init with empty string","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":200,"y":80,"wires":[["1330b995.eb0626","586c1cb2.c83214","bf1627e4.ea40c8","fd09b8a1.555e88","b1910e3f.aeda2"]]},{"id":"a0241251.a9cc4","type":"debug","z":"c80ebb5e.294f08","name":"After function debug node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":320,"wires":[]},{"id":"586c1cb2.c83214","type":"ui_text_input","z":"c80ebb5e.294f08","name":"","label":"port","tooltip":"","group":"1b214600.17935a","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","topicType":"str","x":230,"y":200,"wires":[["83e8c976.e33bc8"]]},{"id":"bf1627e4.ea40c8","type":"ui_dropdown","z":"c80ebb5e.294f08","name":"","label":"rtype","tooltip":"","place":"Select option","group":"1b214600.17935a","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"D","type":"str"},{"label":"","value":"M","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":230,"y":240,"wires":[["58eacd4e.3667b4"]]},{"id":"40b6bbe9.ae42b4","type":"function","z":"c80ebb5e.294f08","name":"","func":"global.set(\"IP\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[["2ffeee02.29d762"]]},{"id":"83e8c976.e33bc8","type":"function","z":"c80ebb5e.294f08","name":"","func":"global.set(\"PORT\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["2ffeee02.29d762"]]},{"id":"58eacd4e.3667b4","type":"function","z":"c80ebb5e.294f08","name":"","func":"global.set(\"rtype\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":240,"wires":[["2ffeee02.29d762"]]},{"id":"12c079b7.90c4a6","type":"ui_button","z":"c80ebb5e.294f08","name":"","group":"1b214600.17935a","order":6,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":790,"y":320,"wires":[["cc26e2d4.ffd35"]]},{"id":"fd09b8a1.555e88","type":"ui_text_input","z":"c80ebb5e.294f08","name":"","label":"raddr","tooltip":"","group":"1b214600.17935a","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","topicType":"str","x":230,"y":280,"wires":[["35e2f4d7.d3e9fc"]]},{"id":"35e2f4d7.d3e9fc","type":"function","z":"c80ebb5e.294f08","name":"","func":"global.set(\"raddr\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":280,"wires":[["2ffeee02.29d762"]]},{"id":"b1910e3f.aeda2","type":"ui_text_input","z":"c80ebb5e.294f08","name":"","label":"value","tooltip":"","group":"1b214600.17935a","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","topicType":"str","x":230,"y":320,"wires":[["8b91ea5.facce18"]]},{"id":"8b91ea5.facce18","type":"function","z":"c80ebb5e.294f08","name":"","func":"global.set(\"value\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":320,"wires":[["2ffeee02.29d762"]]},{"id":"2f2aec00.4e42a4","type":"api","z":"c80ebb5e.294f08","name":"PUT","method":"PUT","path":"/api/v1/config/melsec/templates/coco","x":890,"y":400,"wires":[["b0b865c8.838248","618e7104.c5f7c"]]},{"id":"b0b865c8.838248","type":"api","z":"c80ebb5e.294f08","name":"GET","method":"GET","path":"/api/v1/config/melsec/equipments","x":910,"y":500,"wires":[["a35d4fb9.efc68","55785389.85be3c"]]},{"id":"9678c9d6.d9ea48","type":"api","z":"c80ebb5e.294f08","name":"PUT","method":"PUT","path":"/api/v1/config/melsec/equipments","x":910,"y":660,"wires":[["811fff50.96ce2","c156d41c.e70a28"]]},{"id":"a35d4fb9.efc68","type":"debug","z":"c80ebb5e.294f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":500,"wires":[]},{"id":"55785389.85be3c","type":"function","z":"c80ebb5e.294f08","name":"","func":"// msg.payload[0].equipmentList[0].equipmentId = \"coco1\"\n// msg.payload[0].equipmentList[0].templateId = \"coco1\"\n\nreturn {\n    payload: {\n        connection: {\n            tcp: {\n                \"host\": msg.IP,\n                \"port\": msg.PORT\n            }\n        },\n        equipmentList: msg.payload[0].equipmentList,\n        pollingPeriodMS: msg.payload[0].pollingPeriodMS,\n        protocol: msg.payload[0].protocol,\n        requestTimeoutMS: msg.payload[0].requestTimeoutMS\n    },\n    channel: msg.channel,\n    value: msg.value\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":560,"wires":[["6fb54257.4f2efc"]]},{"id":"6fb54257.4f2efc","type":"function","z":"c80ebb5e.294f08","name":"","func":"msg.payload = [msg.payload]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":600,"wires":[["9678c9d6.d9ea48"]]},{"id":"811fff50.96ce2","type":"function","z":"c80ebb5e.294f08","name":"","func":"return {\n    payload: {\n        \"M16\": msg.value\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":720,"wires":[["a7b8e1c3.a92ae","c644035d.53489"]]},{"id":"a7b8e1c3.a92ae","type":"control-out","z":"c80ebb5e.294f08","name":"","equipmentId":"coco","x":1090,"y":720,"wires":[["4e7d12eb.49c5ec"]]},{"id":"618e7104.c5f7c","type":"debug","z":"c80ebb5e.294f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":400,"wires":[]},{"id":"c644035d.53489","type":"debug","z":"c80ebb5e.294f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":760,"wires":[]},{"id":"c156d41c.e70a28","type":"debug","z":"c80ebb5e.294f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":660,"wires":[]},{"id":"4e7d12eb.49c5ec","type":"debug","z":"c80ebb5e.294f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":720,"wires":[]},{"id":"1b214600.17935a","type":"ui_group","name":"Default","tab":"b8fb94f4.0d31d8","order":1,"disp":true,"width":"12","collapse":false},{"id":"b8fb94f4.0d31d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]