dashboard_flow.json
[
    {
        "id": "c80ebb5e.294f08",
        "type": "tab",
        "label": "流程4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1330b995.eb0626",
        "type": "ui_text_input",
        "z": "c80ebb5e.294f08",
        "name": "",
        "label": "IP",
        "tooltip": "xxx.xxx.xx.xx",
        "group": "1b214600.17935a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "topicType": "str",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "40b6bbe9.ae42b4"
            ]
        ]
    },
    {
        "id": "cc26e2d4.ffd35",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "config_template",
        "func": "IP = global.get(\"IP\")\nPORT = global.get(\"PORT\") \nrtype = global.get(\"rtype\") \nraddr = global.get(\"raddr\") \nvalue = global.get(\"value\") \nchannel = rtype + raddr\n\nvar read_command\nvar write_command\n\nif(rtype === \"M\") {\n    read_command = \"read-bit\"\n    write_command = \"write-bit\"\n}\nelse if(rtype === \"D\") {\n    read_command = \"read-word\"\n    write_command = \"write-word\"\n}\n\nreturn {\n    payload: {\n        channels: [\n            {\n                channelId: channel,\n                channelName: \"\",\n                category: [\n                    \"data\"\n                ],\n                raw: {\n                    registerType: rtype,\n                    address: raddr,\n                    quantity: 1\n                },\n                conversion: {\n                    asType: \"int16\"\n                }\n            }\n            ],\n        commands: [\n        {\n          \"command\": read_command,\n          \"registerType\": rtype,\n          \"address\": raddr,\n          \"quantity\": 1\n        }\n        ],\n        controlSets: [\n            {   \n            channels: [\n                {\n                    channelId: \"M16\",\n                    raw: {\n                        \"address\": raddr,\n                        \"quantity\": 1,\n                        \"registerType\": rtype\n                    },\n                    \"reverseConversion\": {\n                        \"asType\": \"uint16\"\n                    }\n                },\n                ],\n            commands: [\n                {\n                    \"address\": raddr,\n                    \"command\": write_command,\n                    \"quantity\": 1,\n                    \"registerType\": rtype\n                }\n                ]\n            }       \n        ],\n        templateId: 'coco'\n    },\n    IP: IP,\n    PORT: PORT,\n    channel: channel,\n    value: value\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 580,
        "wires": [
            [
                "2f2aec00.4e42a4"
            ]
        ]
    },
    {
        "id": "2ffeee02.29d762",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "fe2d6e02.ad949"
            ]
        ]
    },
    {
        "id": "fe2d6e02.ad949",
        "type": "switch",
        "z": "c80ebb5e.294f08",
        "name": "is text empty?",
        "property": "textInput",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 160,
        "wires": [
            [
                "db2479e4.104468"
            ],
            [
                "fa23a260.4e161"
            ]
        ]
    },
    {
        "id": "db2479e4.104468",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 140,
        "wires": [
            [
                "2e8243d3.81cecc"
            ]
        ]
    },
    {
        "id": "fa23a260.4e161",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "2e8243d3.81cecc"
            ]
        ]
    },
    {
        "id": "eb06ed9d.7f23f",
        "type": "link out",
        "z": "c80ebb5e.294f08",
        "name": "",
        "links": [
            "58d47e08.81ffc"
        ],
        "x": 1435,
        "y": 320,
        "wires": []
    },
    {
        "id": "58d47e08.81ffc",
        "type": "link in",
        "z": "c80ebb5e.294f08",
        "name": "",
        "links": [
            "eb06ed9d.7f23f"
        ],
        "x": 275,
        "y": 580,
        "wires": [
            [
                "12c079b7.90c4a6"
            ]
        ]
    },
    {
        "id": "93b54b1c.311778",
        "type": "inject",
        "z": "c80ebb5e.294f08",
        "name": "Init with empty string",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "1330b995.eb0626",
                "586c1cb2.c83214",
                "bf1627e4.ea40c8",
                "fd09b8a1.555e88",
                "b1910e3f.aeda2"
            ]
        ]
    },
    {
        "id": "586c1cb2.c83214",
        "type": "ui_text_input",
        "z": "c80ebb5e.294f08",
        "name": "",
        "label": "Port",
        "tooltip": "",
        "group": "1b214600.17935a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "",
        "topicType": "str",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "83e8c976.e33bc8"
            ]
        ]
    },
    {
        "id": "bf1627e4.ea40c8",
        "type": "ui_dropdown",
        "z": "c80ebb5e.294f08",
        "name": "",
        "label": "rtype",
        "tooltip": "",
        "place": "Select option",
        "group": "1b214600.17935a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "D",
                "type": "str"
            },
            {
                "label": "",
                "value": "M",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "58eacd4e.3667b4"
            ]
        ]
    },
    {
        "id": "40b6bbe9.ae42b4",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"IP\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "2ffeee02.29d762"
            ]
        ]
    },
    {
        "id": "83e8c976.e33bc8",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"PORT\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 240,
        "wires": [
            [
                "8ff3c894.d51f48"
            ]
        ]
    },
    {
        "id": "58eacd4e.3667b4",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"rtype\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "65290471.3c44bc"
            ]
        ]
    },
    {
        "id": "12c079b7.90c4a6",
        "type": "ui_button",
        "z": "c80ebb5e.294f08",
        "name": "",
        "group": "1b214600.17935a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "cc26e2d4.ffd35"
            ]
        ]
    },
    {
        "id": "fd09b8a1.555e88",
        "type": "ui_text_input",
        "z": "c80ebb5e.294f08",
        "name": "",
        "label": "raddr",
        "tooltip": "",
        "group": "1b214600.17935a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "",
        "topicType": "str",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "35e2f4d7.d3e9fc"
            ]
        ]
    },
    {
        "id": "35e2f4d7.d3e9fc",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"raddr\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "cf687091.b91fa"
            ]
        ]
    },
    {
        "id": "b1910e3f.aeda2",
        "type": "ui_text_input",
        "z": "c80ebb5e.294f08",
        "name": "",
        "label": "value",
        "tooltip": "",
        "group": "1b214600.17935a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "",
        "topicType": "str",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "8b91ea5.facce18"
            ]
        ]
    },
    {
        "id": "8b91ea5.facce18",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"value\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "fcc92a40.965618"
            ]
        ]
    },
    {
        "id": "2f2aec00.4e42a4",
        "type": "api",
        "z": "c80ebb5e.294f08",
        "name": "PUT",
        "method": "PUT",
        "path": "/api/v1/config/melsec/templates/coco",
        "x": 510,
        "y": 640,
        "wires": [
            [
                "b0b865c8.838248"
            ]
        ]
    },
    {
        "id": "b0b865c8.838248",
        "type": "api",
        "z": "c80ebb5e.294f08",
        "name": "GET",
        "method": "GET",
        "path": "/api/v1/config/melsec/equipments",
        "x": 510,
        "y": 680,
        "wires": [
            [
                "55785389.85be3c"
            ]
        ]
    },
    {
        "id": "9678c9d6.d9ea48",
        "type": "api",
        "z": "c80ebb5e.294f08",
        "name": "PUT",
        "method": "PUT",
        "path": "/api/v1/config/melsec/equipments",
        "x": 510,
        "y": 800,
        "wires": [
            [
                "811fff50.96ce2"
            ]
        ]
    },
    {
        "id": "55785389.85be3c",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "// msg.payload[0].equipmentList[0].equipmentId = \"coco1\"\n// msg.payload[0].equipmentList[0].templateId = \"coco1\"\n\nreturn {\n    payload: {\n        connection: {\n            tcp: {\n                \"host\": msg.IP,\n                \"port\": msg.PORT\n            }\n        },\n        equipmentList: msg.payload[0].equipmentList,\n        pollingPeriodMS: msg.payload[0].pollingPeriodMS,\n        protocol: msg.payload[0].protocol,\n        requestTimeoutMS: msg.payload[0].requestTimeoutMS\n    },\n    channel: msg.channel,\n    value: msg.value\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 720,
        "wires": [
            [
                "6fb54257.4f2efc"
            ]
        ]
    },
    {
        "id": "6fb54257.4f2efc",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "msg.payload = [msg.payload]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 760,
        "wires": [
            [
                "9678c9d6.d9ea48"
            ]
        ]
    },
    {
        "id": "811fff50.96ce2",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "return {\n    payload: {\n        \"M16\": msg.value\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 840,
        "wires": [
            [
                "a7b8e1c3.a92ae"
            ]
        ]
    },
    {
        "id": "a7b8e1c3.a92ae",
        "type": "control-out",
        "z": "c80ebb5e.294f08",
        "name": "",
        "equipmentId": "coco",
        "x": 690,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2e8243d3.81cecc",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"ip_bool\",msg.enabled)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 160,
        "wires": [
            [
                "5abf9b95.ab1594"
            ]
        ]
    },
    {
        "id": "8ff3c894.d51f48",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "e11787a8.545618"
            ]
        ]
    },
    {
        "id": "e11787a8.545618",
        "type": "switch",
        "z": "c80ebb5e.294f08",
        "name": "is text empty?",
        "property": "textInput",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "44a72a55.41fd14"
            ],
            [
                "5f2d73f5.dbec0c"
            ]
        ]
    },
    {
        "id": "44a72a55.41fd14",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "7d47839.b48417c"
            ]
        ]
    },
    {
        "id": "5f2d73f5.dbec0c",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 260,
        "wires": [
            [
                "7d47839.b48417c"
            ]
        ]
    },
    {
        "id": "7d47839.b48417c",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"port_bool\",msg.enabled)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "5abf9b95.ab1594"
            ]
        ]
    },
    {
        "id": "65290471.3c44bc",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "e1f881bd.1703a"
            ]
        ]
    },
    {
        "id": "e1f881bd.1703a",
        "type": "switch",
        "z": "c80ebb5e.294f08",
        "name": "is text empty?",
        "property": "textInput",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 320,
        "wires": [
            [
                "b372386f.948da8"
            ],
            [
                "3c3238de.351e88"
            ]
        ]
    },
    {
        "id": "b372386f.948da8",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "e542d0d4.1fecc"
            ]
        ]
    },
    {
        "id": "3c3238de.351e88",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 340,
        "wires": [
            [
                "e542d0d4.1fecc"
            ]
        ]
    },
    {
        "id": "e542d0d4.1fecc",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"rtype_bool\",msg.enabled)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 320,
        "wires": [
            [
                "5abf9b95.ab1594"
            ]
        ]
    },
    {
        "id": "cf687091.b91fa",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "9ab52e82.080a1"
            ]
        ]
    },
    {
        "id": "9ab52e82.080a1",
        "type": "switch",
        "z": "c80ebb5e.294f08",
        "name": "is text empty?",
        "property": "textInput",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 400,
        "wires": [
            [
                "27c3cb0.4014a36"
            ],
            [
                "c64f9cbd.47364"
            ]
        ]
    },
    {
        "id": "27c3cb0.4014a36",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "151135a3.30ddfa"
            ]
        ]
    },
    {
        "id": "c64f9cbd.47364",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "151135a3.30ddfa"
            ]
        ]
    },
    {
        "id": "151135a3.30ddfa",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"raddr_bool\",msg.enabled)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 400,
        "wires": [
            [
                "5abf9b95.ab1594"
            ]
        ]
    },
    {
        "id": "fcc92a40.965618",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 480,
        "wires": [
            [
                "bbb0a31e.152b5"
            ]
        ]
    },
    {
        "id": "bbb0a31e.152b5",
        "type": "switch",
        "z": "c80ebb5e.294f08",
        "name": "is text empty?",
        "property": "textInput",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 480,
        "wires": [
            [
                "d133ef2c.c357d"
            ],
            [
                "a0a27d94.a1672"
            ]
        ]
    },
    {
        "id": "d133ef2c.c357d",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "182a32d4.5f06dd"
            ]
        ]
    },
    {
        "id": "a0a27d94.a1672",
        "type": "change",
        "z": "c80ebb5e.294f08",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "182a32d4.5f06dd"
            ]
        ]
    },
    {
        "id": "182a32d4.5f06dd",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "global.set(\"value_bool\",msg.enabled)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 480,
        "wires": [
            [
                "5abf9b95.ab1594"
            ]
        ]
    },
    {
        "id": "5abf9b95.ab1594",
        "type": "function",
        "z": "c80ebb5e.294f08",
        "name": "",
        "func": "ip_bool = global.get(\"ip_bool\")\nport_bool = global.get(\"port_bool\")\nrtype_bool = global.get(\"rtype_bool\")\nraddr_bool = global.get(\"raddr_bool\")\nvalue_bool = global.get(\"value_bool\")\n\n\nif(ip_bool && port_bool && rtype_bool && raddr_bool && value_bool) {\n    msg.enabled = true\n}\nelse {\n    msg.enabled = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 320,
        "wires": [
            [
                "eb06ed9d.7f23f"
            ]
        ]
    },
    {
        "id": "1b214600.17935a",
        "type": "ui_group",
        "name": "Default",
        "tab": "b8fb94f4.0d31d8",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b8fb94f4.0d31d8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]